.conteneur {
    display: grid;
    padding: 10px;
    width: 60%;
    margin: auto
}

div > div {
    background-color: lightgreen;
    border: 1px solid black;
    text-align: center;
}

div > div:nth-child(odd) {
    background-color: palevioletred;
}

#container1 {
    grid-template-columns: repeat(3, 1fr);
}

#container2 {
    grid-template-columns: 1fr 2fr 3fr;
}

#container3 {
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-gap: 1px;
}
